.raleway {
    font-family: 'Raleway', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b6b6b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f;
}